body {
    background: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 3px 3px 8px rgba(59, 59, 59, 0.559);
}

footer {
    color: white;
    text-align: center;
    font-style:italic;
}

div {
    text-align:center;
    padding: 10px;
}

#imagem {
    width: 250px;
    margin: auto;
    padding: 5px;
}